@media screen and (max-width: 768px){
    #menu-ham{
        width: 60%;
        min-width: 100px;
        display: inline-block;
        vertical-align: middle;
        text-align: right;
    }
    #abrir-ham{
        display: inline-block;
    }
    #menuPrincipal{
        height: 0px;
        width: 90%;
        overflow: hidden;   
    }
    #cabecera:target #abrir-ham{
        display: none;
    }
    #cabecera:target #cerrar-ham{
        display: inline-block;
    }

    #cabecera:target #menuPrincipal{
        height: 150px;
    }
    .opcion{
        width: 100%;
        text-align: left;
    }
    
    #cabecera figure{
        width: 20%;
        padding:5px;
        display: inline-block;
        min-width: 150px; 
    }

    .empresa{
        position: relative;
        
    }

    #imgPrincipal{
        width: 100%;
        padding-top: 19px;
    }
    #conoce{
        font-size: 20px;
        padding-left: 9%;
        padding-right: 9%;
        margin-top: 80px;
        margin-bottom: 40px;
    }
    #quienes img, #quienes article{
        width: 100%;
        display: block;
        padding-left: 0px;
    }
    #quienes img{
        min-width: auto;
        height: auto;
    }
    #quienes article{
        padding-top: 20px;
        text-align: center;
    }
    #quienes p{
        font-size: 1rem;
    }
    #quienes a{
        margin: 0 auto;
        font-size: 1rem;
    }




    #secciones{
        text-align: center;
    }

    .info{
        width: 80%;
        margin-bottom: 3%;
    }

    .info img{
        width: 100%;
    }

    .separar-izq-nulo{
        margin-left: 0px;
    }

    #aviso{
        font-size: 1.7rem;
        padding-top: 15%;
    }

}